  @media only screen {
    body.dark-mode {
      background-color: #2d2d2d;
      color: #ddd;

      .header-logo {
        display: none !important;
      }

      .header-logo-dark {
        display: inline-block !important;
      }

      footer {
        .hill {
          mix-blend-mode: lighten;
        }

        .row:nth-of-type(2) {
          background-image: none;
          filter: brightness(80%);
        }
      }

      .poster-text {
        color: #bfbfbf;
      }

      .navbar-toggler-icon {
        filter: invert(1);
      }

      .navbar-toggler::after {
        color: #bbb;
      }

      .navbar {
        background-color: #2d2d2d;

        .container {
          background-image: url('/images/logos/nodehill-black-dmode.png');
        }

        .nav-link {
          color: #ddd;
        }

        .dropdown-menu {
          filter: brightness(70%);
        }

        a,
        .dropdown-toggle {
          border-top-color: #2d2d2d;
        }
      }
    }
  }