img[src*="co-workers"] {
  border-radius: 50%;
  width: 25%;
  float: right;
  margin-left: 7%;
  margin-bottom: 20px;
}

img.align-left {
  float: left;
  margin-left: 0;
  margin-right: 7%;
}

.page-poster-holder {
  display: block;
}

.poster-text {
  padding: 0 4vw;
  display: block;
  line-height: 1;
  color: #cfcfcf;
  -webkit-text-stroke: 0.15vw #000;
  position: absolute;
  width: 100%;
  left: 0;
  text-transform: uppercase;
  font-size: 4vw;
  margin-top: -14vw;
  -webkit-user-select: none;
  user-select: none;

  span:nth-child(even) {
    color: #899b47;
  }
}

.page-poster-holder img,
.pseudo-filter {
  width: 100vw;
  display: block;
  position: absolute;
  object-fit: cover;
  left: 0;
  aspect-ratio: 4 / 1;
}

.pseudo-filter {
  background-image: url('/images/patterns/big-odd-black.png');
  opacity: 0.5;
}

.page-poster-holder {
  height: 25vw;
}

.big-poster-image,
.small-poster-image {
  font-family: 'Lilita One';
  font-weight: 400;
}

.big-poster-image {
  display: block;
}

.small-poster-image {
  display: none;
}

// use 767.98 or 991.98?
@media screen and (orientation: portrait) and (max-width: 991.98px) {

  .big-poster-image {
    display: none;
  }

  .small-poster-image {
    display: block;
  }

  .page-poster-holder img,
  .pseudo-filter {
    aspect-ratio: 2 / 1;
  }

  .page-poster-holder {
    height: 50vw;
  }

  .page-poster-holder+.poster-text {
    font-size: 8vw;
    margin-top: -31vw;
  }

}

.creepy {
  font-family: 'Creepster';
  font-weight: 400;
}

.extra-line-height .poster-text {
  line-height: 1.15 !important;
}