img[src*="co-workers"] {
  border-radius: 50%;
  width: 25%;
  float: right;
  margin-left: 7%;
  margin-bottom: 20px;
}

img.align-left {
  float: left;
  margin-left: 0;
  margin-right: 7%;
}

.page-poster-holder {
  display: block;
}

.page-poster-holder+.poster-text {
  padding: 0 4vw;
  display: block;
  font-family: 'Sofia Sans';
  font-weight: 900;
  line-height: 1;
  color: white;
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
  position: absolute;
  width: 100%;
  left: 0;
  text-transform: uppercase;
  font-size: 4vw;
  margin-top: -14vw;
  -webkit-user-select: none;
  user-select: none;
}

img[src*="page-posters"] {
  width: 100vw;
  display: block;
  position: absolute;
  object-fit: cover;
  left: 0;
}

img[src*="page-posters"] {
  aspect-ratio: 4 / 1;
}

.page-poster-holder {
  height: 25vw;
}

.big-poster-image {
  display: block;
}

.small-poster-image {
  display: none;
}

// use 767.98 or 991.98?
@media screen and (orientation: portrait) and (max-width: 991.98px) {

  .big-poster-image {
    display: none;
  }

  .small-poster-image {
    display: block;
  }

  img[src*="page-posters"] {
    aspect-ratio: 2 / 1;
  }

  .page-poster-holder {
    height: 50vw;
  }

  .page-poster-holder+.poster-text {
    font-size: 8vw;
    margin-top: -31vw;
  }

}