.navbar {

  .container {
    background-image: url('/images/logos/nodehill-black.png');
    background-repeat: no-repeat;
    background-size: 7rem;
    background-position: -8rem 0.3rem;
    transition: background-position 0.5s;
  }

  .container .navbar-nav {
    transition: padding-left 0.5s;
    cursor: pointer;
  }

  .container.showlogo {
    @media (min-width: 992px) {
      background-position: 1rem 0.3rem;
    }
  }

  .container.showlogo .navbar-nav {
    @media (min-width: 992px) {
      padding-left: 9rem;
    }
  }

  position: sticky;
  z-index: 100;
  background-color: white;
  top: -1px;
  border-top: 1px solid #899b47;
  font-weight: bold;
  font-weight: 900;
  font-size: 1.1em;

  a {
    color: #333;
  }

  .dropdown-menu {
    margin-bottom: 1rem;
    width: 100%;
  }

  a.active:not(.dropdown-item),
  a:hover:not(.dropdown-item),
  .active>.dropdown-toggle {
    // text-decoration: underline;
    color: #899b47 !important;
  }

  a,
  .dropdown-toggle {
    border-top: 2px solid #fff;

    @media (max-width: 991.8px) {
      border: 0;
    }
  }

  a.active:not(.dropdown-item),
  .active>.dropdown-toggle {
    border-top-color: #899b47;
  }

  .nav-link {
    // text-transform: uppercase;
    font-weight: 400;
  }


  .dropdown-item {
    text-decoration: none !important;
  }

  .nav-link,
  .dropdown-item {
    -webkit-user-select: none;
    user-select: none;
  }

}

.navbar-toggler {
  display: block;
  width: 100%;
  text-align: center;
  border: 0;
}

.navbar-toggler-icon {
  width: 1.3em;
  height: 1.3em;
}

.navbar-toggler::after {
  margin-left: 0.5em;
  color: #333;
  content: 'Menu';
  font-size: 90%;
  font-weight: 900;
  padding: 0.5em;
  display: inline-block;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline: none;
  box-shadow: none;
}

.navbar-toggler:not(.collapsed) .navbar-toggler-icon {
  margin-left: 0.5em;
  width: 0.6em;
  height: 0.6em;
  background: transparent escape-svg($btn-close-bg) center / $btn-close-width auto no-repeat;
}

.navbar-toggler:not(.collapsed)::after {
  margin-left: 0.7em;
}

.dropdown-toggle::after {
  vertical-align: 0.12em;
}