.settings {

  margin-top: -0.5rem;
  margin-bottom: 1rem;

  label {
    -webkit-user-select: none;
    user-select: none;
    display: block;
    cursor: pointer;
  }

  span {
    display: inline-block;
    width: 140px;
  }

  input[type="range"] {
    width: 35px;
    position: relative;
    top: 5px;
  }

}