@import 'bootstrap/scss/functions';

// Overrides 
$primary: #899b47;
$font-family-sans-serif: 'Alegreya Sans';
$font-family-base: 'Alegreya Sans';
$font-size-base: 1.3rem;

// Var names here
// @import 'bootstrap/scss/variables';